#page {
    background: #DCE0E1;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p {
    margin-top: 0;
}

.ui-panel {
    border: 0;
}

.ui-panel .ui-panel-titlebar {
    padding: 30px;
}

.ui-panel .ui-panel-content {
    padding: 20px;
}


.ui-panel.denied .ui-panel-titlebar {
    padding: 30px;
    background: #f2dede;
    color: #b94a48;
}

.ui-panel .ui-button {
    margin: 0;
    padding: 10px;
}

.ui-button .ui-button-text {
    padding: .3rem 1rem;
}
