/* remove menubar and footer */
#header, #footer {
    display: none;
}

/* create the full-width/height background image and layout the login form */
#content {
    max-width: initial;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("/resources/images/login-bg.jpg");
    background-size: cover;
}

#content-wrapper {
    box-sizing: border-box;
    padding: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

/* style and layout of the login form */
#content #login_form {
    display: inline-block;
    background: white;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 16px hsla(0, 0%, 0%, .3), 4px 4px 32px hsla(0, 0%, 0%, .25);
    position: relative;
    left: 15%;
    top: 10%;
}

/* remove shift to the right on small screens */
@media only screen and (max-width: 800px) {
    #content #login_form {
        left: 0;
    }
}

/* change the heading font */
h2 {
    font-family: Raleway, 'sans-serif';
}

/* style the input fields */
input[type="text"]#username, input[type="password"]#password {
    border: 0;
    box-shadow: none;
    outline: none;
    background-color: hsla(0, 0%, 80%, .25) !important;
    width: 150px;
    padding: 10px;
    margin-left: 20px;
}

/* style the submit button */
button[type="submit"] {
    margin: 30px auto 0;
    border: 0 !important;
    box-shadow: none;
    box-sizing: border-box;
    width: 150px;
    padding: 10px;
    background: var(--color-1, #3A95E8);
    color: white;
    font-size: 16px;
    font-weight: 300;
    text-shadow: none;
}

/* style the session expired message */
div#messages {
    width: 350px;
    font-size: 1rem;
}

div#messages ul {
    margin: 0 4px;
}

.ui-messages-error {
    border: 0;
}

.ui-messages-error-icon {
    display: none;
}

.ui-messages-error-summary {
    margin: 0;
}

