:root {
    /* colors */
    --primary-bg: #15a4fa;
    --primary-fg: white;
    --secondary: white;
    --danger-fg: #b94a48;
    --danger-bg: #f2dede;
    --bg-dark: #354052;
    --bg-light: #ecf2f6;
}
