@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

:root {
    --color-1: #3A95E8;
    --color-2: hsla(0, 0%, 80%, .25);
}
/* ovveride chrome autocomplete color TODO doesn't work */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px hsla(0, 0%, 0%, .25) inset;
}

:focus {
    background-color: rgba(0,0,0,0);
}

*{
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

body {
    margin: 0;
}

#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content {
    box-sizing: border-box;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    flex: 1;
}

#footer div {
    box-sizing: border-box;
    padding: 25px;
    text-align: right;
    background: var(--color-2);
}
