/* nice base which is normalized across browsers */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

:root {
    --color-1: #3A95E8;
    --color-2: hsla(0, 0%, 75%, .25);
}

/* change the fonts */
*{
    font-family: 'Open Sans', sans-serif;
    outline: none;
    text-shadow: none;
}

/* dynamic footer */
#page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* TODO */
/* basic menubar styling */
#header .ui-menu.ui-menubar {
    background-image: none;
    background-color: none;
    background: var(--color-2);
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 8px hsla(0, 0%, 0%, .25), 0 0 16px hsla(0, 0%, 0%, .25);
    padding: 16px 20px;
    box-sizing: border-box;
}

#header ul > li > .ui-state-hover {
    background: initial;
    color: initial;
}

#header ul ul > li > .ui-state-hover {
    background: var(--color-1);
    color: white;
}

#header ul .ui-state-hover .ui-icon {
    background: initial;
    color: initial;
}

#header ul ul.ui-menu-list {
    padding: 0;
    border: 1px solid hsla(0, 0%, 80%, .5);
    border-radius: 4px;
}

#header ul ul.ui-menu-list.ui-shadow {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#header ul.ui-menu-list li {
    margin: 0;
}

#header button.ui-button {
    border: 1px solid hsla(0, 0%, 40%, .5);
    border-radius: 4px;
    background-color: transparent;
    background-image: none;
}

#header button.ui-button:hover {
    background: var(--color-1);
    color: white;
}

/* content not full-width */
#content {
    box-sizing: border-box;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    flex: 1;
}

/* footer */
#footer div {
    box-sizing: border-box;
    padding: 25px;
    text-align: right;
    background: var(--color-2);
}

/* color columns of completed reservations */
.ui-datatable-tablewrapper .completed {
    background-image: none;
    background: rgba(58, 149, 232, .5);
    opacity: .9;
}

/* limit dialog max width */
.ui-dialog {
    max-width: 90%;
}
